.one-parameter {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
span {
  font-size: 25px;
  font-weight: 600;
  width: 15%;
  color: #A9A9A9;
}
.one-parameter div{
  font-size: 20px;
  font-weight: 400;
}
.tablinks{
  cursor: pointer;
}
.tablinks:hover{
  background-color: #F0F8FF;
}
